.toggle-button {
  display: block;
  position: relative;

  width: 50px;
  height: 25px;

  background-color: var(--color-theme-toggle);
  border-radius: 100px;

  cursor: pointer;

  transition: all 0.15s ease-in;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 100vmax;

    transition: all 0.15s;
  }

  &:active:after {
    width: 22.5px;
  }
}

input[type="checkbox"]:checked + .toggle-button {
  background-color: var(--color-primary-lime-green);
}

input[type="checkbox"]:checked + label:after {
  right: calc(100% - 5px);
  transform: translateX(100%);
}
